<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
</head>


   
<table>
<tr>
    <td>
		<form method="post" action="../controller/logindel.php" enctype="">
		Username: <input type="text" name="username" value="" placeholder="Enter username"><br>
		Password: <input type="password" name="password" value="" placeholder="Enter password"><br>
		<input type="submit" name="Submit" value="Log in">
	
	</form>
	
		<a href="signupdel.html"> <input type="submit" name="Submit" value="Sign up"></a>

	</td>
	</tr>
	</table>



</body>
</html>